@model IEnumerable<RpaData.Models.tblJobs>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Jobs</h1>

<div class="card">
    <div class="card-header">

        <a href="@Url.Action("ActivateJob")" class="btn btn-outline-success btn-sm"><i class="fas fa-power-off"></i> Activate Jobs</a>
    </div>
    <div class="card-body">
        <table id="example2" class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.JobName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JobFrequency)
                    </th>
                    @*<th></th>*@
                </tr>
            </thead>
            <tbody  class="table-sm">
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobFrequency)
                    </td>
                    @*<td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-success" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fas fa-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-success" data-toggle="tooltip" data-placement="top" title="Details"><i class="fas fa-folder-open"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-success" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i></a>
                    </td>*@
                </tr>
                }
            </tbody>
        </table>
     </div>
</div>