@model RpaData.Models.tblResources

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}


<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>Resources</h2>
            </div><!-- /.col -->
            <div class="col-sm-6">
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="card">
    <div class="card-body">
            <h4>Details</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ResourceName)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.ResourceName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ResourceDescription)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.ResourceDescription)
                </dd>
                <dt class="col-sm-2">
                   File
                </dt>
                <dd class="col-sm-12">
                    <a href="~/Uploads/@Model.FileName"><i class="fas fa-paperclip"></i> Download</a>
                </dd>
                <dt class="col-sm-2">
                   Date
                </dt>
                <dd class="col-sm-12">
                    @Model.Created.ToString("dd-MM-yyyy")
                </dd>
            </dl>
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-sm btn-outline-success">  <i class="fas fa-long-arrow-alt-left"></i> Back to List</a>
        </div>
</div>
