@model IEnumerable<RpaData.Models.tblEventsHistory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}


<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>Meetings</h2>
            </div><!-- /.col -->
            <div class="col-sm-6">
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Meetings List
                            </th>
                        </tr>
                    </thead>
                    <tbody class="table-sm">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    <b>Meeting Name : </b> @Html.DisplayFor(modelItem => item.Event.EventName) <br />

                                    <b>Date : </b>  @item.Event.EventStartDate.ToString("dd-MMM-yyyy HH:mm") to

                                    @item.Event.EventEndDate.ToString("dd-MMM-yyyy HH:mm") <br />

                                    <b>Venue : </b> @Html.DisplayFor(modelItem => item.Event.EventVenue) <br />

                                    <b>Points : </b>@Html.DisplayFor(modelItem => item.Event.EventPoints) <br />
                                    <b>Status : </b>@(item.Event.EventComplete?"Complete" :"Scheduled") <br/>
                                    <hr />
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-success"><i class="fas fa-folder-open"></i> View Details</a>
                                    @if (item.Event.tblEventsHistory.Count() > 0)
                                    {
                                        bool? attending = item.Event.tblEventsHistory.FirstOrDefault()?.Attending;
                                        bool? attendend = item.Event.tblEventsHistory.FirstOrDefault()?.AttendedEvent;

                                        @if (!item.Event.EventComplete)
                                        {

                                            @if (attending.Value)
                                            {
                                                <a href="@Url.Action("Confirm", "Events", new {id = item.Event.Id, attend = false})" class="btn btn-sm btn-outline-danger"> <i class="far fa-thumbs-down"></i> RSVP (Decline)</a>
                                            }
                                            else
                                            {
                                                <a href="@Url.Action("Confirm", "Events", new {id = item.Event.Id, attend = true})" class="btn btn-sm btn-outline-primary"> <i class="far fa-thumbs-up"></i> RSVP (Accept)</a>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <a href="@Url.Action("Confirm", "Events", new { id = item.Event.Id, attend = true })" class="btn btn-sm btn-outline-primary">  <i class="far fa-thumbs-up"></i>  RSVP (Accept)</a>
                                    }



                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">

    </div>
        </div>

    </div>
</section>