@model RpaData.Models.tblQualifications

@{
    ViewData["Title"] = "Qualifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2 class="m-0 text-dark">@ViewData["Title"]</h2>
            </div><!-- /.col -->
            <div class="col-sm-6">
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<section class="content">
    <div class="container-fluid">

        <div class="card">
            <div class="card-header">
                <h4>Details</h4>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.qName)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.qName)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.qDescription)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.qDescription)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Created)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Created)
                    </dd>
                </dl>
            </div>


        <div class="card-footer">
            <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
            </div>
        </div>
    </section>
